.sidebar {
  width: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
height: 150%;
  background-color: #34495e;

}

.title {
  background-color: #000524;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;

  img {
    height:50px;
    width:50px;
    float: left;
    margin-top: 20px;
    margin-right: 15px;

  }

}
p {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-family:'Montserrat';
  letter-spacing: 1px;
  height: 90px;
  line-height: 90px;

  display: block;
  margin-right: 15px;


}


.nav-item {
  padding: 15px 0 15px 25px;
  height:25px;
  line-height:25px;
  margin-top: 20px;

  font-size: 14px;
  color: #95a5a6;
  letter-spacing: 1px;
  font-family:Montserrat;
  text-transform: uppercase;


  img {
    height: 25px;
    width:auto;
    margin-right: 25px;

  }


}

.nav-item:hover{
  background-color: #243342;
  color: #ffffff;
  cursor: pointer;
}


