
html {
	font-size: 100%; 
}
body {
	margin: 0;
	padding: 10px 20px;
	
	font-size: .8em; 
	line-height: 1.25; 
	color: black;
	
}


h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}
h1, h2 {
	
	font-weight: normal;
	font-family: 'Arial';
}
h1 {
	font-size: 3em; 
	font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}


ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}
ul {
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}


p {
	margin: .75em 0;
}
li p, blockquote p {
	margin: .5em 0;
}


blockquote, q {
	font-size: 1.1em;
	font-style: italic;
	
}
blockquote {
	margin: .75em 0 .75em 24px;
}
cite {
	font-style: italic;
}


a {
	color: mediumblue;
	text-decoration: underline;
}
a:hover, a:focus {
	color: crimson;
}
a img {
	border: none;
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: dimgray;
}




pre, code {
	font-size: 100%;
	
}
pre {
	width: 90%;
	overflow: auto;
	overflow-y: hidden;
	margin: .75em 0;
	padding: 12px;
	background: #eee;
	color: #555;
}
pre strong {
	font-weight: normal;
	color: black;
}
#copyright {
	margin: 20px 0 5px 0;
	text-align: right;
	font-size: .8em;
	color: #848F63;
}
#copyright a {
	color: #848F63;
	text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
	text-decoration: underline;
}


