
body {
	color: #F0E39E;
	background: #181A12;
	Font-Family: "Times New Roman", Serif;
}

a {
	color: white;
}


/* En-tête */
#entete {
	background: #2C2F22;
}

/* Navigation */
#navigation {
	background: white;
}
#navigation a {
	color: black;
}

/* Contenu principal */
#contenu {
	color: black;
	background: white;
	Font-Family: "Times New Roman";
}
#contenu a {
	color: grey;
}
#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}

/* Pied de page */
#pied {
	color: black;
	background: #070A10;
}


/* --- POSITIONNEMENT --- */

body {
	padding: 0;
	Font-Family: "Times New Roman", Serif;
	font-size: 16px;
	
}


#entete {
	padding: 15px 20px 10px 20px;
	background: #070A10;
}
#entete h1 {
	margin: 0;
}
#entete h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
	margin: 4px 0 15px 0;
}

/* Menu de navigation */
#navigation {
	padding: 40px 200px;
}
#navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation li {
	display: inline;
}
#navigation a {
	padding: 30px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

 
#contenu {
	padding: 60px 20px;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p, #contenu li {
	line-height: 1.5;
}

/* Pied de page */
#pied {
	
	padding: 55px 40px;
	font-size: .85em;
}
#pied p {
	margin: .5em 0;
}
#pied #copyright {
	position: absolute;
	float: right;
	margin: .5em 0 30px 10%;
	font-size: 1em;
	color: white;
}
#area_search
{
	
  width: 0;
  border:0;
  border-radius:2px;
  padding: 8px;
  vertical-align: top;
  visibility: hidden;
  font-size: 17px;
  color:WHITE;
  background-color: GREY !important;
}
#btn_search
{
  width: 50px;
  height:50px;
  background-color: #f8b334;
  border:0;
  margin: 0;
  padding: 0;
}
#sous_search
{
  background-color: #ffffff;
  visibility: hidden;
  font-weight: 400;
  font-size: 19px;
  padding: 10px;
  color:#999999;
  text-align: left;
  height: 0px;
}
#sous_search:hover
{
  color:#00a096;
  background-color: #dbdbdb;
  cursor: pointer;
}

.principal
{
  width: 60px;
  height: 60px;
  background-color:#DD4545;
  border-radius: 60px;
  padding: 10px;
}
.principal_petit
{
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_petit:hover
{
  -webkit-transform: scale(1.1);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(1.1);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(1.1);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(1.1);
  -o-transition:all 0.2s ease-in;
  transform: scale(1.1);
  transition:all 0.2s ease-in;
}
.principal_img
{
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_img:hover
{
  -webkit-transform: scale(0.7);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(0.7);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(0.7);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(0.7);
  -o-transition:all 0.2s ease-in;
  transform: scale(0.7);
  transition:all 0.2s ease-in;
}




* { 
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
  }
  

  
  .login {
  	position: relative;
  	top: 50%;
  	width: 300px;
  	display: table;
  	margin: -150px auto 0 auto;
  	background: grey;
  	border-radius: 10px;
	}
  
  .legend {
  	position: relative;
  	width: 100%;
  	display: block;
  	background: #ff7052;
  	padding: 15px;
  	color: #fff;
  	font-size: 30px;
  }
  
  .legend:after {
  	content: "";
  	background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  	background-size: 100px 100px;
  	background-repeat: no-repeat;
  	background-position: 152px -16px;
  	opacity: 0.06;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  }
  
  .input {
  	position: relative;
  	width: 90%;
  	margin: 35px auto;
  }
  
  .input span {
  	position: absolute;
  	display: block;
  	color: grey;
  	right: 10px;
  	top: 8px;
  	font-size: 20px;
  }
  
  .input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 2px solid grey;
  border-radius: 50px;
  transition: 0.2s ease-out;
  color: black;
  }
  
  .input input:focus {
  	padding: 10px 5px 10px 10px;
  	outline: 0;
  	border-color: #ff7052;
  }
  
  .submit {
  	width: 45px;
  	height: 45px;
  	display: block;
  	margin: 0 auto -15px auto;
  	background: #fff;
  	border-radius: 100%;
  	border: 1px solid #ff7052;
  	color: #ff7052;
  	font-size: 24px;
  	cursor: pointer;
  	box-shadow: 0px 0px 0px 7px #fff;
  	transition: 0.2s ease-out;
  }
  
  .submit:hover,
  .submit:focus {
  	background: #ff7052;
  	color: #fff;
  	outline: 0;
  }
  
  .feedback {
  	position: absolute;
  	bottom: -70px;
  	width: 100px;
  	text-align: center;
  	color: #fff;
  	background: #2ecc71;
  	padding: 10px 0;
  	font-size: 12px;
  	display: none;
  	opacity: 0;
  }
  
  .feedback:before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: "";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(46, 204, 113, 0);
  	border-bottom-color: #2ecc71;
  	border-width: 10px;
  	margin-left: -10px;
  }
  	.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:180px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}