@charset "utf-8";
* { 
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
  }
 
  .login {
  	position: relative;
  	bottom: 80px;
  	width: 300px;
  	display: table;
  	margin: -150px auto 0 auto;
  	background: #fff;
  	border-radius: 10px;
  	background-color: grey;
	}
  
  .legend {
  	position: relative;
  	width: 100%;
  	display: block;
  	background: #D40015;
  	padding: 15px;
  	color: #fff;
  	font-size: 30px;
  }
  
  .legend:after {
  	content: "";
  	background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  	background-size: 100px 100px;
  	background-repeat: no-repeat;
  	background-position: 152px -16px;
  	opacity: 0.06;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  }
  
  .input {
  	position: relative;
  	width: 90%;
  	margin: 35px auto;
  	background-color: grey;
  }
  
  .input span {
  	position: absolute;
  	display: block;
  	color: grey;
  	right: 10px;
  	top: 8px;
  	font-size: 20px;
  }
  
  .input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 2px solid grey;
  border-radius: 50px;
  transition: 0.2s ease-out;
  color: black;
  }
  
  .input input:focus {
  	padding: 10px 5px 10px 10px;
  	outline: 0;
  	border-color: #D40015;
  }
  
  .submit {
  	width: 45px;
  	height: 45px;
  	display: block;
  	margin: 0 auto -15px auto;
  	background: #fff;
  	border-radius: 100%;
  	border: 1px solid #D40015;
  	color: #D40015;
  	font-size: 24px;
  	cursor: pointer;
  	box-shadow: 0px 0px 0px 7px #fff;
  	transition: 0.2s ease-out;
  }
  
  .submit:hover,
  .submit:focus {
  	background: #D40015;
  	color: #fff;
  	outline: 0;
  }
  
  .feedback {
  	position: absolute;
  	bottom: -70px;
  	width: 100px;
  	text-align: center;
  	color: #fff;
  	background: #2ecc71;
  	padding: 10px 0;
  	font-size: 12px;
  	display: none;
  	opacity: 0;
  }
  
  .feedback:before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: "";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(46, 204, 113, 0);
  	border-bottom-color: #2ecc71;
  	border-width: 10px;
  	margin-left: -10px;
  }
  	.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:180px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
