body {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    background-image: url(back5.jpg);
    
    /*background-color: #3498db;*/
}

.wrap {
    width: 410px;
    overflow: hidden;
    margin: auto;
    margin-top: 180px;
    padding: 20px;
    background: #fff;
    border: 1px solid silver;
    border-radius: 5px;
}

.wrap h2 {
    text-align: center;
    margin-bottom: 30px;
}

.wrap input {
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid silver;
    padding: 5px;
}

.wrap .btn-login {
    padding: 5px;
    width: 412px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border-radius:  3px;
    border: 0;
    font-size: 18px;
}