
body {
	
	color: grey;
	background: white;
	/*Font-Family: "Times New Roman", Serif;*/
	
  margin: 0;
  padding: 0;
  position: relative;
}
/*
@media screen and (max-width: 1365px) {
	body {
		width: 100%;
	}
	.principal {
		width: 20%;
	}
	
}
*/

html {
  height: 100%;
}

a {
	color: white;
	text-decoration: none;
}


/* En-tête */
#entete {
	height: 100px;
}

/* Navigation */
#navigation {
	background: white;
}
#navigation a {
	color: black;
}

/* Contenu principal */
#contenu {
	color: black;
	background: white;
	Font-Family: "Times New Roman";
	width: 100%;
	
  
}
#contenu a {
	
	color: grey;
}
#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}




/* --- POSITIONNEMENT --- */

body {
	padding: 0;
	Font-Family: "Times New Roman", Serif;
	font-size: 16px;
	
}


#entete {
	padding: 15px 20px 10px 20px;
	background: #070A10;
}
#entete h1 {
	margin: 0;
}
#entete h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
	margin: 4px 0 15px 0;
}

/* Menu de navigation */
#navigation {
	padding: 22px 240px;
}
#navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation li {
	display: inline;
}
#navigation a {
	padding: 15px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

 
#contenu {
	padding: 290px 20px;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p, #contenu li {
	line-height: 1.5;
}

/* Pied de page */
#pied {
	height: auto;
	padding: 55px 40px;
	font-size: .85em;
}

#area_search
{
  width: 0px;
  border:0;
  border-radius:2px;
  padding: 10px;
  vertical-align: top;
  visibility: hidden;
  font-weight: 300;
  font-size: 17px;
  color:WHITE;
  background-color: #DD4545 !important;
 
}
#btn_search
{
  width: 50px;
  height:50px;
  background-color: grey;
  border:0;
  margin: 0;
  padding: 0;
   border-radius: 5px;
}
#sous_search
{
  background-color: #DD4545;
  visibility: hidden;
  font-weight: 400;
  font-size: 19px;
  padding: 10px;
  color:#999999;
  text-align: left;
  height: 0px;
}
#sous_search:hover
{
  color:#00a096;
  background-color: #dbdbdb;
  cursor: pointer;
}

.principal
{
  width: 60px;
  height: 60px;
  background-color:#DD4545;
  border-radius: 40px;
  padding: 10px;
}
.principal_petit
{
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_petit:hover
{
  -webkit-transform: scale(1.1);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(1.1);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(1.1);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(1.1);
  -o-transition:all 0.2s ease-in;
  transform: scale(1.1);
  transition:all 0.2s ease-in;
}
.principal_img
{
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_img:hover
{
  -webkit-transform: scale(0.7);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(0.7);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(0.7);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(0.7);
  -o-transition:all 0.2s ease-in;
  transform: scale(0.7);
  transition:all 0.2s ease-in;
}


